body {
    font-family: Arial, sans-serif;
    background-color: #269eed;
    padding: 40px;
    color: azure;
}

.container {
    display: grid;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgb(40, 108, 163);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container1{
    margin-bottom:10px;
}

input{
    padding: 10px;
    width: 95%;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 10px;
    font-size: 16px;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    width: 250px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #0056b3;
}
